<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">&copy; Kukhmirov 2023</small>
        </div>
        <div class="col-6 col-md">
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Главная </a></li>
                <li><a class="text-muted" href="#">Добавить книгу</a></li>
            </ul>
        </div>
    </div>
</footer>

<script>
    const roomName = location.pathname.split('/api/book/').pop();
    const socket = io.connect('/', {
        query: `roomName=${roomName}`
    })

    const boxList = document.querySelector('#boxList');
    const inputText = document.querySelector("#inputText");
    const sendMsg = document.querySelector('#sendMsg');
    
    const getTmpl = (msg) => {
        return `
            <div class="d-flex flex-row justify-content-start mb-4">
                <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                    <p class="small mb-0">
                        ${msg.text}
                    </p>
                </div>
            </div>
        `;
    };

    socket.on("message-to-room", (msg) => {
        const div = getTmpl(msg);
        boxList.insertAdjacentHTML("beforeend", div)
    });

    sendMsg.addEventListener("click", () => {
        socket.emit("message-to-room", {
            text: inputText.value,
        })
    })
</script>

</body>
</html>