<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">&copy; Kukhmirov 2023</small>
        </div>
        <div class="col-6 col-md">
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Главная</a></li>
                <li><a class="text-muted" href="#">Добавить книгу</a></li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>